.ant-modal-footer {
    .ant-btn {
        display: none;
    }
}

.ant-form-item-label {
    margin-left: 30px;
}

.ant-form-item-control-input-content {
    margin-left: 10px;


    .cancel {
        margin-left: 190px;
        margin-right: 20px;
        width: 100px;
        height: 40px;

    }

}